body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: #fff;
}

body a {
  transition: 0.5s all;
  text-decoration: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 0;
  color: #333;
  font-size: 1em;
  line-height: 1.8;
}

ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

body a:hover {
  text-decoration: none;
}

body a:focus {
  outline: none;
  text-decoration: none;
}

/*-- bottom-to-top --*/
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 24px;
  right: 3%;
  overflow: hidden;
  z-index: 999;
  width: 32px;
  height: 32px;
  border: none;
  text-indent: 100%;
  background: url(../images/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
  width: 32px;
  height: 32px;
  display: block;
  overflow: hidden;
  float: right;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}

/*-- //bottom-to-top --*/
/* header */
.navbar-light {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1em;
  letter-spacing: 1px;
  color: #d3b800;
}

nav.navbar.fixed-top.navbar-expand-lg.navbar-light.navbar-fixed-top {
  background: none;
  border: none;
  padding: 1em 6em;
  transition: .5s all;
  border-bottom: 1px solid rgba(238, 238, 238, 0.09);
}

.fixed-top {
  z-index: 11;
}

nav.navbar.fixed-top.navbar-expand-lg.navbar-light.navbar-fixed-top.top-nav-collapse {
  background: #000;
  padding: 0.5em 6em;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12);
}

nav.navbar.fixed-top.navbar-expand-lg.navbar-light.navbar-fixed-top.top-nav-collapse {
  color: #000;
  font-size: 0.7em;
}

li.nav-item {
  margin-right: 2em;
}

li.nav-item:last-child {
  margin-right: 0;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1.5px;
  padding: 10px 0;
}

ul.navbar-nav.text-center {
  margin-top: 10px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #d3b800;
}

span.fa {
  font-size: 18px;
}

.nav-link {
  font-size: 15px;
  letter-spacing: 1px;
  color: #fff;
  background: transparent;
  border: none;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: 0.5s all;
}

.nav-link:hover:after,
.active .nav-link:after,
.nav-link.active:after {
  width: 100%;
  left: 0;
  transition: 0.5s all;
  background: #fff;
}

.nav-link:after {
  position: absolute;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
}

.dropdown-item {
  color: #fff;
}

.dropdown-toggle::after {
  border: transparent;
}

.dropdown-item,
.dropdown-item.active,
.dropdown-item:active {
  background-color: transparent;
  color: #fff;
  text-transform: capitalize;
}

.dropdown-menu {
  background-color: #000;
  box-shadow: 4px 2px 9px 0px rgba(255, 255, 255, 0.09);
  margin: 1.1rem 0 0;
  border: 1px solid #b1a7a7;
  padding: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: transparent;
}

.ls-btn {
  background: transparent;
  padding: 5px 15px;
  color: #fff;
  text-transform: capitalize;
  border-radius: 15px;
}

.ls-btn i {
  font-size: 1.8em;
  color: #fff;
}

.bg-theme {
  background: #d3b800;
}

/*-- //header --*/
/* title desc */
.title-desc p {
  letter-spacing: 2px;
  font-size: 13px;
  word-spacing: 1px;
  margin-top: 10px;
  text-transform: uppercase;
}

h3.main-title {
  font-size: 2em;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
  color: #000;
  font-weight: 600;
}

.form-control {
  background-color: transparent;
}

.close {
  font-size: 1.5rem;
  color: #fff;
  text-shadow: none;
  opacity: 1;
}

/* //modal */
/* banner */
.banner {
  position: relative;
  z-index: 0;
}

#slider {
  box-shadow: none;
  margin: 0 auto;
}

ul.callbacks_tabs {
  position: absolute;
  z-index: 2;
  left: 48%;
  bottom: 20%;
  margin: 0 auto;
}

.callbacks_tabs a {
  visibility: hidden;
}

.callbacks_tabs a:after {
  content: "\f111";
  font-size: 0;
  visibility: visible;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.5;
}

.callbacks_here a:after {
  background: #fff;
  opacity: 1;
}

.callbacks_tabs li {
  display: inline-block;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
}

.rslides li {
  backface-visibility: hidden;
  position: absolute;
  display: none;
  left: 0%;
  top: 0;
  width: 100%;
}

.rslides li {
  position: relative;
  display: block;
  float: none;
}

.rslides img {
  height: auto;
  border: 0;
}

.banner1 {
  background: url(../images/banner1.jpg) bottom no-repeat;
  background-size: cover;
}

.banner2 {
  background: url(../images/banner2.jpg) bottom no-repeat;
  background-size: cover;
}

.banner3 {
  background: url(../images/banner3.jpg) bottom no-repeat;
  background-size: cover;
}

.banner:before {
  position: absolute;
  content: '';
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.banner-text {
  padding: 20vw 0 14vw;
  box-sizing: border-box;
  text-align: center;
}

.slider-info h3 {
  font-size: 5em;
  text-transform: capitalize;
  color: #fff;
  word-spacing: 5px;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 1.3;
}

.slider-info span.line {
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 6px;
  margin-bottom: 15px;
  display: block;
}

.slider-info span.line:after {
  content: '';
  width: 20%;
  height: 1px;
  background: #eaeaea;
  display: inline-block;
  margin-left: 8px;
}

.slider-info h3 span {
  background: #d3b800;
  padding: 0 10px;
}

.link-bnr {
  padding: 8px 35px;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  border: none;
  text-transform: capitalize;
  border-radius: 20px;
}

.link-bnr:hover {
  color: #000;
  background: #fff;
}

.slider-info p {
  letter-spacing: 1px;
  margin-top: 1em;
  font-size: 1.3em;
  width: 65%;
  font-weight: 600;
  margin: 0 auto 0;
  color: #fff;
  text-transform: capitalize;
  font-style: italic;
  word-spacing: 3px;
}

/* about */
.abt-icon {
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 1px 15px 17px 0px rgba(180, 167, 167, 0.78);
  border-radius: 50%;
  background: #d3b800;
}

.abt-icon span {
  font-size: 1.5em;
  color: #fff;
}

.abt-txt h4 {
  text-transform: capitalize;
  font-size: 1.15em;
  margin-bottom: 0.5em;
}

.abt-txt {
  margin-left: 1em;
}

.slide-banner {
  background: url(../images/g5.jpg) no-repeat center;
  background-size: cover;
  min-height: 401px;
}

.ab-banner {
  background: url(../images/g4.jpg) no-repeat center;
  background-size: cover;
  min-height: 378.5px;
}

.bg-abt {
  background: #fff6f6;
  padding: 2em 1.5em;
}

.light-bg {
  background: #efefef;
}

.abt_bottom p {
  margin-bottom: 1em;
  font-style: italic;
  font-size: 1.3em;
}

h4.main-title {
  text-transform: capitalize;
  font-size: 1.6em;
  color: #000;
}

.about-grids h4 {
  text-transform: capitalize;
  font-weight: 600;
  color: #d3b800;
  font-size: 1.3em;
}

.about-grids span.fa {
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  border: 1px solid #d3b800;
  margin-bottom: 1em;
  font-size: 1.5em;
}

/* //about */
/* stats */
section.stat {
  background: url(../images/banner1.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 0;
}

section.stat:before {
  position: absolute;
  content: '';
  background: rgba(0, 0, 0, 0.32);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

h2.stats-title {
  font-size: 2.8em;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.counter {
  margin-top: 3em;
  text-align: center;
}

.counter span.fa {
  color: #fff;
  font-size: 3em;
}

.timer {
  font-size: 3em;
  font-weight: 300;
}

p.count-text {
  letter-spacing: 2px;
  font-weight: 600;
}

h4.abt-text {
  color: #333;
  line-height: 2;
  font-size: 1.9em;
  margin: 0 auto 1em;
  font-weight: 600;
}

/* //stats */
/* team */
.block {
  position: relative;
  transition: all .2s ease-out 0s;
  text-align: center;
}

.block .box-content,
.block:after {
  position: absolute;
  left: 20px;
  right: 20px
}

.block:after {
  content: "";
  display: block;
  background: #000;
  top: 20px;
  bottom: 20px;
  opacity: 0;
  transform: rotate3d(-1, 1, 0, 100deg);
  transition: all .4s ease-in-out 0s
}

.block:hover:after {
  opacity: .9;
  transform: rotate3d(0, 0, 0, 0deg)
}

.block img {
  width: 100%;
  height: auto
}

.block .box-content {
  top: 45%;
  opacity: 0;
  z-index: 1;
  transform: translate(10%, -30%);
  transition: all .2s ease-out 0s
}

.block:hover .box-content {
  opacity: 1;
  transform: translate(0, -50%);
  transition-delay: .2s
}

.block .title {
  display: block;
  font-size: 22px;
  font-weight: 700;
  color: #fac960;
  margin: 0 0 10px;
  text-transform: capitalize;
}

.block {
  display: block;
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.block .social {
  padding: 0;
  margin: 0;
  list-style: none
}

.block .social li {
  display: inline-block
}

.block .social li a {
  display: block;
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 50%;
  font-size: 17px;
  color: #1b1462;
  line-height: 35px;
  margin-right: 5px;
  transition: all .4s ease-in-out 0s
}

.block .social li a:hover {
  color: #fff;
  background: #000;
}

/* team  */
/* pricing plans */
.price-row {
  padding-top: 6em;
}

section {
  box-sizing: border-box;
}

.container .column {
  position: relative;
  width: 380px;
  float: left;
  transition: 0.5s;
}

.container .column .box {
  width: 290px;
  min-height: 500px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  border: 5px solid #d3b800;
  box-shadow: 0 0 0 0px #000000, 0 0 0 10px #ffffff, 0 0 0 20px #e2e2e2, 0 0px 0 rgb(255, 255, 255);
  overflow-y: hidden;
  transition: 0.5s;
}

.container .column .box:hover {
  transform: scale(1.1);
}

.container .column .box .title .fa {
  margin-top: 20px;
  font-size: 2em;
  color: #d3b800;
}

.title h5 {
  color: #d3b800;
  font-size: 1.2em;
  margin-top: 10px;
  text-transform: capitalize;
}

.price h6 {
  font-size: 1em;
  font-weight: 300;
  text-transform: capitalize;
  color: #333;
  margin: 20px 0 0;
}

.container .column .box .option ul {
  margin: 20px 0;
  padding: 0;
}

.container .column .box .option ul li {
  list-style: none;
  color: #333;
  padding: 10px 0;
  border-bottom: 1px solid rgba(136, 136, 136, 0.31);
}

.container .column .box .option ul li:last-child {
  border-bottom: none;
}

.container .column .box .bg-theme {
  margin: 0 auto;
}

/* //pricing plans */
/* blog */
span.fa.fa-user.post-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 44px;
  text-align: center;
  font-size: 1.2em;
  color: #fff;
  left: 0;
  top: 0;
}

h5.blog-title a {
  font-size: 0.85em;
  text-transform: capitalize;
  color: #333;
  font-weight: 600;
  border-bottom: 1px solid #a5a5a5;
  padding-bottom: 15px;
  display: block;
}

.card-body label {
  color: #333;
  font-size: 0.9em;
}

.blog-btn {
  background: #fff;
  display: block;
  font-weight: 400;
  padding: 3px 10px;
  color: #000000;
  margin-top: 10px;
}

.card-body {
  background: #eae9ea;
}

/* //blog */
/* contact */
textarea {
  height: 200px;
  resize: none;
}

form.send .form-control {
  padding: 15px 20px;
  border: 1px solid #dbdde2;
  border-radius: 0;
  box-shadow: 2px 8px 10px 0px rgba(50, 46, 46, 0.23);
  letter-spacing: 1px;
}

.contact-form {
  padding: 2em;
  border: 20px solid #eee;
  border-radius: 20px;
}

.contacts span {
  color: #d3b800;
  font-size: 1.2em;
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
  text-align: center;
}

.contacts {
  background: #eee;
  padding: 2em 1em;
}

.contacts a,
.contacts address p {
  color: #000;
  font-size: 0.9em;
  letter-spacing: 0.5px;
}

h5.cont-form {
  margin: 1em 0;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.7em;
  font-family: 'Lato', sans-serif;
  color: #d3b800;
  font-weight: 600;
}

/* //contact */
